{
  "extends": "@folio/eslint-config-stripes",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-one-expression-per-line": [1, { "allow": "single-child" }],
    "no-multiple-empty-lines": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
